#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.navbar {
  position:"fixed";
  width: "100%";
  top:0;
}

.content {
  padding-top: 64px; /* Ajusta el padding-top para dejar espacio para el Navbar */
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima de la imagen de fondo */
  padding: 20px;
}

.home-container {
  position: relative;
  height: 100vh; /* Establece la altura al 100% del viewport */
  overflow: hidden; /* Evita que el contenido se desborde */
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/autofix.jpg"); /* Ruta relativa a la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el contenedor */
  background-position: center; /* Centra la imagen */
  opacity: 0.5;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 90%; /* O el ancho que prefieras */
  border-collapse: collapse;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

/* Estilos para la burbuja de detalles */
.details {
  position: absolute;
  background-color: rgb(223, 223, 223);
  border: 3px solid  rgb(0, 0, 255);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 10;
  padding: 30px;
  list-style-type: disc; /* para mostrar viñetas */
  margin-top: 8px; /* ajustar según sea necesario */
  width: 40%; /* ajustar según sea necesario */
  left: 25%; /* centrar respecto a la tabla */
}

.button-detail {
  background-color: rgb(25,118,210);
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Opcional: añade un efecto de transición */
}

.button-detail:hover {
  background-color: darkblue; /* Cambia el color al pasar el mouse */
}

.button-detail.selected {
  background-color: rgb(0, 0, 255);  /* Color cuando está seleccionado*/
}

.form-container {
  max-width: 400px; /* Ajusta el ancho máximo del formulario */
  margin: 20px auto; /* Centra el formulario horizontalmente y agrega margen vertical */
  padding: 10px; /* Añade un poco de relleno alrededor del formulario */
}

.form-box {
  display: flex; /* Modificado de 'static' a 'flex' para que justifyContent y alignItems tengan efecto */
  justify-content: center;
  flex-direction: column;
  padding: 3rem; /* '3' de Material UI es aproximadamente 3*8px = 24px, convertido a rem si tu base es 16px */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffff; /* Asegúrate de que 'background.paper' en tu tema sea '#ffffff' */
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 16px; /* '2' en Material UI generalmente se traduce a 16px */
}